*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "open sans", sans-serif;
}
header{
    font-size: 12.5px;
    font-weight: 100;
    position: fixed;
    z-index: 1;
    background-color: #fff;
}
.header-v-align{
    height: 65px;
    align-items: center;
}
.txt-left{
    align-items: center;
}

main{
    padding-top: 58px;
}

.content-header{
    width: 50%;
    padding: 15px 10px 15px 10px;
}

.content-title{
    width: 100%;
}
.content-sm{
    width: 100%;
}

.content{
    width: 100%;
}
.content-done{
    position: relative;
}
.content-done .jumbo{
    width: 90%;
}
.content-jumbo{
    position: absolute;
    bottom: -425px;

}

.content-header .logo{
    width: 100px;
}


.content-sm h1{
    font-size: 75px;
    padding: 50px 5px 30px 0px;
    margin-bottom: 30px;
}
.content-done p,.btn{
    font-size: 15px;
    font-weight: 100;
}

.fa-arrow-down{
    font-size: 45px;
}
h2{
    font-size: 35px;
}

.input-label{
    margin-right: 40px;
    font-weight: 100;
    vertical-align: middle;
    font-size: 12.5px;
}

.input-radio{
    margin: 30px 0 40px 0 ;
    font-size: 12.5px;
}
input[type='radio'] { 
    transform: scale(1.5); 
    margin-right: 7.5px;
}


.card-vertical{
    min-height: 1000px;
    height: 80vh;
    border: 0.5px solid rgb(181, 181, 181);
    display: inline-block;
    font-weight: 100;
}
.card-horizontal{
    margin: 0 auto;
}
.p-20{
    padding: 20px;
}


.tab-head{
   text-align: center;
   border-bottom: 0.5px solid rgb(181, 181, 181);
   padding: 10px;
   font-size: 12.5px;
   font-weight: 300;
}
.tab-main{
    padding: 20px;
    margin-top: 15px;
}
.tab-list{
    width: 100%;
    padding: 20px 20px 20px 20px;
}

.tab-main .btn{
    text-align: center;
    margin: 0 auto;
}
.tab-main p{
    font-size: 12.5px;
}
.card-vertical i{
    margin-right: 5px;
}
.card-horizontal i{
    margin-right: 5px;
}
.card-horizontal, p{
    font-weight: 100;
    font-size: 12.5px;
}
.card-vertical, p{
    font-weight: 100;
    font-size: 10px;
}

.card-horizontal{
    border: 0.5px solid rgb(181, 181, 181);
}
.tab-left{
    width: 75%;
}

.tab-right{
    width: 25%;
    display: block;
    align-items: end;
}
.hr-width{
    width: 20%;
}
.tab-space-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.img-size{
    width: 100%;
}
.btn-white{
    display: inline-block;
}
.btn-white a{
    color: black;
    font-weight: 100;
}
.content h3{
    font-size: 20px;
}
p{
    font-size: 15px;
    font-weight: 100;
}
.col-33 img{
    width: 100%;
}
.col-40 content{
    padding-left: 50px;
}
.question{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.ul-footer{
    color: #fff;
    list-style: none;
}
.li-head{
    font-size: 25px;
    font-weight: 700;
}
.li-footer{
    font-size: 15px;
    font-weight: 400;
}
.middle-footer{
    display: block;
    width: 100%;
    margin: 0 auto;
}
.lang p{
    color: grey;
}

/* LAYOUT */
.row{
    display: flex;
    flex-wrap: wrap;
}

.container-full{
    width: 100vw;
}
.container-mid{
    width: 65%;
    margin: 0 auto;
}
.container-sm{
    width: 50%;
    margin: 0 auto;
}
.col-100{
    width: 100%;
}
.col-40{
    width: 40%;
}
.col-60{
    width: 60%;
}
.col-70{
    width: 70%;
}
.col-30{
    width: 30%;
}
.col-33{
    width: calc(100%/3);
}
.col-33-tab{
    width: calc(100%/3 - 30px);
}
.col-50{
    width: 50%;
}
.col-20{
    width: 20%;
}
.content-box-sides{
    background-color: yellow;
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-box{
    background-color: yellow;
    width: 100%;
    aspect-ratio: 1/1;
    border: 1px solid black;
    padding: 50px;
}
.size-logos {
    max-width: 50%;
    max-height: 50%;
}
.w-20{
    width: 20%;
}
.w-10{
    width: 10%;
}
.opa-50{
    color: rgba(0, 0, 0, 0.25);
}

.oppure{
    margin-top: 50px;
}


/* UTILITIES */
.bg-lightblue{
    background-color: #B4D0E6;
    margin: 0 auto;
}
.bg-black{
    background-color: black;
}
.bg-blue{
    background-color: #0061FE;
    padding: 5px 15px;
}
.bg-white{
    background-color: #fff;
    padding: 5px 15px;
    border: 1px solid black;
}
.bg-white-noborder{
    background-color: white;
    padding: 10px 45px;
    font-size: 15px;
    margin-bottom: 30px;
}
.light-grey{
    color: #A8A9AB;
}
.txt-blue{
    color: #1979FF;
}
.txt-white{
    color: #fff;
}
.txt-right{
    text-align: end;
}
.txt-bordeaux{
    color: #650729;
}
.content-header li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
.v-middle{
    vertical-align: middle;
}
.align-end{
    margin-left: auto;
    margin-right: 0;
}
.txt-center{
    text-align: center;
}
.unstyle-link{
    text-decoration: none;
    cursor: pointer;
}
.pt-15{
    padding-top: 15px;
}
.mt-30{
    margin-top: 30px;
}
.mt-50{
    margin-top: 50px;
}
.mt-100{
    margin-top: 100px;
}
.mt-125{
    margin-top: 125px;
}
.mb-100{
    margin-bottom: 100px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-5{
    margin-bottom: 5px;
}
.m-tb-30{
    margin: 30px 0;
}
.pb-55{
    padding-bottom: 55px;
}
.mr-5{
    margin-right: 5px;
}
.pr-35{
    padding-right: 35px;
}
.pl-50{
    padding-left: 50px;
}
.pt-100{
    padding-top: 100px;
}
.pb-100{
    padding-bottom: 100px;
}
.pb-30{
    padding-bottom: 30px;
}
.p-100{
    padding: 100px;
}
.w-70{
    width: 70%;
}
.font-small{
    font-size: 12.5px;
}
.text-indent{
    text-indent: -9px;
}



/* COMPONENTS */
